# Указываем, что все файлы с расширением .md (или любым другим расширением) должны использовать кодировку UTF-8
*.md text working-tree-encoding=UTF-8

# Все текстовые файлы должны использовать LF в репозитории
* text=auto

# Если у вас есть другие типы файлов, которые вы хотите, чтобы Git обрабатывал как текстовые, добавьте их здесь
# Например:
# *.txt text working-tree-encoding=UTF-8
# *.html text working-tree-encoding=UTF-8
